#root {
  text-align: center;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
  padding: 30px;
}

.card {
  width: 18em;
  height: 27em;
}